.image{
	font-size: 0;
	height: 300px;
	display: inline-block;
	margin: 10px;
}

.image > img {
	border: 2px solid gray;
}

.image:hover > img{
	-webkit-transform: rotate(45deg);
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	transition: 2s;
}

.image img{
	height: 100%;
}
